<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<link rel="stylesheet" href="/css/star.css">


<div class="container">
 
  <%- include("../partials/flash") %>

  <section>
        <h1>Shopping Cart</h1>
    </section>
<div class="row">
        <div class="col-lg-6" >
            <div class="card" style="width: 25rem;  margin: 10px auto;" >
                <img src="<%= product.img%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name%></h5>
                  <h5 class="card-title">&#8377; <%= product.price%></h5>

                  <p class="card-text"><%= product.desc%></p>
                  <a href="#" class="btn btn-primary">Buy</a>

                  <a href="/products/<%=product._id%>/edit" class="btn btn-warning">Edit</a>
                <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                    <button class="btn mt-3 btn-danger">Delete</button>
                </form>
                <div class="mb-3 mt-3">
                  <form action="/user/<%=product._id%>/cart" method="POST">
                    <button class="btn btn-secondary">Add To Cart</button>
                  </form>
                </div>

                <!-- <form class="mt-3" action="/user//cart" method="POST">
                  <button class="btn btn-secondary">Add to cart</button>
                </form> -->
                </div>
              </div>
        </div>
        <div class="col-lg-6" >
        <h1>Leave a rewiew</h1>    
        <form class="needs-validation" action='/products/<%=product._id%>/review' method="POST" novalidate>
            <!-- <div class="mb-3">
               <label for="rating" class="form-label">Rating</label>
               <input type="range" id="rating" name="rating" min="0" max="5" class="form-control" required>
           </div> -->
           <fieldset class="starability-basic">
            <legend>First rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
              <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea class="form-control"  id="desc" cols="30" rows="5" name="comment" required></textarea>
              </div>
            
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <h2>Rating:</h2>
          <div class="card mb-3" >
              
            <%for(let reviews of product.reviews){%>
         <div class="card-body" style="border: 2px solid black;">
            <h3 class="text-capitalize"><%=reviews.user%></h3>
            <p class="starability-result" data-rating="<%=reviews.rating%>">
              Rated: 3 stars
            </p>
            <h3><%=reviews.rating%></h3>
            <h3><%= reviews.comment %></h3>
            <hr>
         </div>

         <%}%>
           
        </div>
        </div>

    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
  </script>

    <%- include("../partials/footer") %>
